<h1>Change password</h1>

<p>
  For security reasons you need to change your password before you can continue.
</p>

<%= form_with model: current_user, url: update_password_path, method: :patch, local: true do |form| %>
  <div class="field">
    <%= form.label :password, "New password" %><br>
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, "Repeat password" %><br>
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= form.submit "Change password" %>
  </div>
<% end %>